<section id="container" class="position-relative">
  <div
    style="background-image: url('../../../assets/image.png')"
    class="background position-absolute z-1 opacity-75"
  >
    <div class="position-relative z-2">
      <h3 class="titulo__principal mt-5">ESTÁ DISPONÍVEL AGORA</h3>
      <p class="titulo__secundario">LOKI</p>
    </div>

    
    <div class="Elements__detalhes">
    <section class="detalhes d-flex">
      <img
        ngSrc="./assets/capa.png"
        alt="capa Loki"
        width="200"
        height="293.36"
        class="imagem__detalhes"
      />

      <p class="paragrafo__detalhes">
        Em “Loki” da Marvel Studios, o vilão mercurial Loki (Tom Hiddleston)
        retoma seu papel como o Deus do Mal em uma nova série que ocorre após os
        eventos de “Vingadores: Endgame”.
      </p>
    </section>
    <div class="sub__grupo">
      <section class="d-flex">
        <img
          ngSrc="./assets/Vector.png"
          alt="relogio"
          class="vector__relogio__detalhes"
          width="26"
          height="26"
        />

        <p class="minutos__detalhes ms-5">51min</p>

        <img
          ngSrc="./assets/Star.png"
          alt="estrela"
          width="32"
          height="33"
          class="estrela"
        />
        <img ngSrc="./assets/Star.png" alt="estrela" width="32" height="33"  class="estrela__estrelas"/>
        <img ngSrc="./assets/Star.png" alt="estrela" width="32" height="33"  class="estrela__estrelas"/>
        <img ngSrc="./assets/Star.png" alt="estrela" width="32" height="33"  class="estrela__estrelas"/>
        <img
          ngSrc="./assets/Star.png"
          alt="estrela"
          class="estrela__opacidade estrela__estrelas"
          width="32"
          height="33"
        />

        <p class="ano__detalhes ms-5">2021</p>
      </section>
      <div class="botoes">
        <button class="assistir__filme">ASSISTIR AGORA</button>

        <button class="assistir__trailer" (click)="playTrailer()">VER TRAILER</button>
      </div>
    </div>
  </div>
</div>
</section>
